@import '../../../scss/colors';

@import '../../../scss/variables';

.distance-button {
  width: 180px;
}

.form {
  align-self: center;
  padding: 30px 15px 0;
  width: 400px;
}

.lat-lng {
  color: $purple-hearth;
  font-family: Texta-Medium;
  font-size: 30px;
  font-weight: 700;
}

.location-one {
  margin-top: 25px;
}

.location-two {
  margin-top: 50px;
}

.snackbar-error {
  margin-top: $container-padding-bottom * -1;
}

.subtitle {
  align-self: center;
  color: $purple-hearth;
  font-family: Texta-Medium;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
}

@media (max-width: $breakpoint-tablet) {
  .form {
    margin-bottom: 25px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .error-message {
    font-size: 12px !important; // stylelint-disable-line declaration-no-important
  }

  .form {
    margin-bottom: 70px;
    padding-top: 15px;
  }

  .input {
    max-width: 130px;
  }

  .lat-lng {
    font-size: 24px;
  }

  .location-one {
    margin-top: 10px;
  }

  .location-two {
    margin-top: 30px;
  }

  .snackbar-error {
    margin: auto;
    max-width: 300px;
  }

  .subtitle {
    font-size: 24px;
  }
}
