@import '../../../scss/colors';
@import '../../../scss/variables';

.input {
  background-color: $white-lilac;
  border-color: $catskill-white;
  border-radius: 5px;
  font-family: Texta-Medium !important; // stylelint-disable-line declaration-no-important
  font-size: 20px !important; // stylelint-disable-line declaration-no-important
  font-weight: 600 !important; // stylelint-disable-line declaration-no-important
  padding: 10px 20px;
  width: 100%;
}

@media (max-width: $breakpoint-mobile) {
  .input {
    font-size: 14px !important; // stylelint-disable-line declaration-no-important
    max-width: 200px;
  }
}
