@import '../../../scss/colors';
@import '../../../scss/variables';

.button {
  background-color: $royal-blue;
  border-color: $white;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  color: $white;
  font-family: Texta-Medium;
  font-size: 26px;
  font-weight: 700;
  max-height: 55px;
  padding: 20px 16px 16px;
  transition-duration: 0.25s;

  &:disabled {
    background: $concrete;
    color: $very-light-grey;
    cursor: not-allowed;
  }

  &:not([disabled]):not(.disabled):hover { // stylelint-disable-line selector-max-attribute
    transform: translateY(-4px);
  }
}

.spinner {
  height: 30px !important; // stylelint-disable-line declaration-no-important
  width: 30px !important; // stylelint-disable-line declaration-no-important
}

@media (max-width: $breakpoint-tablet) {
  .button {
    font-size: 22px;
    padding-top: 14px;
    padding-bottom: 10px;
  }

  .spinner {
    height: 20px !important; // stylelint-disable-line declaration-no-important
    width: 20px !important; // stylelint-disable-line declaration-no-important
  }
}

@media (max-width: $breakpoint-mobile) {
  .button {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .spinner {
    height: 20px !important; // stylelint-disable-line declaration-no-important
    width: 20px !important; // stylelint-disable-line declaration-no-important
  }
}
