@import '../../../scss/colors';
@import '../../../scss/variables';

.background {
  background-color: $wild-sand;
  background-image: url('world-map.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  padding-top: 250px;
}

.container {
  align-self: center;
  backdrop-filter: blur(4px);
  max-width: $container-width;
  padding: 100px 100px $container-padding-bottom;
  width: 100%;
}
