@import '../../../scss/variables';

.distance-button {
  width: 180px;
}

.form {
  align-self: center;
  padding: 30px 15px 0;
  width: 400px;
}

.snackbar-error {
  margin-top: $container-padding-bottom * -1;
}

@media (max-width: $breakpoint-tablet) {
  .form {
    margin-bottom: 25px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .error-message {
    font-size: 12px !important; // stylelint-disable-line declaration-no-important
  }

  .form {
    margin-bottom: 70px;
  }

  .snackbar-error {
    margin: auto;
    max-width: 300px;
  }
}
