@import 'colors';

.all-screen-height {
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.title {
  align-self: center;
  color: $royal-blue;
  font-family: Texta-Medium;
  font-size: 50px;
  font-weight: 700;
}
